AIESECGermany\EntityBundle\Entity\Exchange:
    properties:
        person:
            exclude: true
        exchangeAgb:
            exclude: true
        bankAccount:
            exclude: true
        standardsAndSatisfaction:
            exclude: true
        financeInformation:
            exclude: true
    relations:
        -
            rel: financeInformation
            href:
                route: get_people_exchanges_financeinformation
                parameters:
                    personID: expr(object.getPerson().getId())
                    exchangeID: expr(object.getId())
            exclusion:
                exclude_if: expr(object.getFinanceInformation() === null)