AIESECGermany\EntityBundle\Entity\OutgoerPreparation:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: salesforceID
    properties:
        lc:
            - NotBlank: ~
        startDate:
            - NotBlank: ~
        endDate:
            - NotBlank: ~
AIESECGermany\EntityBundle\Entity\Person:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: id
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: email
    properties:
        id:
            - NotBlank: ~
        email:
            - NotBlank: ~
        opsOnline:
            - NotNull: ~
AIESECGermany\EntityBundle\Entity\Exchange:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: salesforceID
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: applicationID
AIESECGermany\EntityBundle\Entity\ExchangeAGB:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: exchange
AIESECGermany\EntityBundle\Entity\ExchangeAGB:
    properties:
        dateSigned:
            - NotBlank: ~
        agb:
            - NotBlank: ~
AIESECGermany\EntityBundle\Entity\StandardReintegrationActivity:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
AIESECGermany\EntityBundle\Entity\WelcomeHomeSeminar:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: salesforceID
    properties:
        lc:
            - NotBlank: ~
        startDate:
            - NotBlank: ~
        endDate:
            - NotBlank: ~
AIESECGermany\EntityBundle\Entity\StandardsAndSatisfaction:
    properties:
        visaWorkPermit:
            - NotNull: ~
        arrivalPickup:
            - NotNull: ~
        departureSupport:
            - NotNull: ~
        jobDescription:
            - NotNull: ~
        duration:
            - NotNull: ~
        workingHours:
            - NotNull: ~
        firstDayOfWork:
            - NotNull: ~
        individualGoals:
            - NotNull: ~
        insurance:
            - NotNull: ~
        accomodation:
            - NotNull: ~
        livingCosts:
            - NotNull: ~
        purpose:
            - NotNull: ~
        expectationSetting:
            - NotNull: ~
        preparation:
            - NotNull: ~
        hostFacilitatedLearning:
            - NotNull: ~
        homeFacilitatedLearning:
            - NotBlank: ~
