<?xml version='1.0' encoding='UTF-8'?>
<programs>
    <program name="oGV">
        <lc name="">
            <city name=""/>
        </lc>
    </program>
    <program name="oGT">
        <lc name="">
            <city name=""/>
        </lc>
    </program>
    <program name="oGE">
        <lc name="">
            <city name=""/>
        </lc>
    </program>
    <program name="YT">
        <lc name="">
            <city name=""/>
        </lc>
    </program>
</programs>